<div class="jumbotron mt-4">
    <h1 class="display-4">NOTAS APP</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam praesentium pariatur. Sequi autem a provident impedit aliquam labore animi officia, sed maxime tenetur? Quo dolorem doloribus voluptatibus tempora blanditiis.</p>
    <a href="http://localhost:3000/" class="btn btn-primary btn-lg" >Inicio</a>
</div>